/*CSS para index principal VENTAS */
:root{
   --font-family: "Questrial", sans-serif;
   --font-weight: 400;
   --font-style: normal;
    
    --color-white:#ffffff;
    --color-black: #000000;

    --color-primario: #64c047dd;
    --color-primario-light: #7ab657ac;
    --color-primario-dark: #446c2c; 
    --color-primario-letras: #aecf9a;
    --color-secundario: #7198dd ;
    --color-secundario-fuerte: #102c6e; 
    --color-secundario-light: #5b7db7d5; 
    --color-terciario: #aab843af ;

    --color-button:#8dbdbc;
    --color-buttonActive:#628584;
    --color-buttonSub:#0b9bb3;
    --color-buttonSubAct:#10606e;
    --color-delete:red;
    --color-deleteAct:#c90303;
    --color-ModalBox:#85838394;
    
    --color-update:#5b79fc;
    --color-updateAct:#4f65ca;
    --color-update-saving:#4dc02a;
    --color-update-savingAct:#55972f;


    --size-header: 75px;
    --size-nav-item: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

html {
    scroll-behavior: smooth;
    }

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background: #000020;
    color: var(--color-white)
  }

  main {
    text-align: center;
    min-height: calc(100vh - 136px);
    border-radius: 3px;
    padding: 2rem 2rem;
    margin: 1.5rem; 
    background-color: var(--color-secundario-light);
    border-radius: 8px;
  }
  
  h1 {
    background-color:var(--color-primario-light);
    margin: 1.25%;
    border-radius: 8px;
  }
  


.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
   background-color: var(--color-secundario-fuerte);
    color: var(--color-white);
    text-align: left; 
}

table thead tr th {
  border: none;
  font-size: 1.125rem;
  padding: 2rem 1.25rem;
  white-space: nowrap;
  text-align: center;
}

table tbody tr {
  border-bottom: none;
}

table tbody tr:nth-of-type(even) {
  background-color: var(--color-terciario); 
}

table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color-white);
}

table tbody tr td {
  padding: 1rem 1.25rem;
  border: none;
  white-space: wrap;
}

table tbody tr td img {
  max-width: 100px;
  height: auto;
}

.message {
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}

.filter-section {
    background-color: var(--color-secundario);
    padding: 2rem;
    border: none;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    border-radius: 3px; 
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  flex-grow: 1;
  min-width: 120px;
  background-color:var(--color-white) ;
  color: var(--color-black);
  font-size: 1rem;
  padding: 1rem;
  border: 0.60px solid var(--color-black);
  border-radius: 3px;
}

input:focus, input:hover, input:active,
textarea:focus,
textarea:hover,
textarea:active,
select:focus,
select:hover,
select:active {
  border: 1px solid var(--color-primario);
}

input[type="text"]{
  flex-grow: 1;
  min-width: 200px;
  background-color:var(--color-white) ;
    color: var(--color-black);
}
input[type="number"] {
  flex-grow: 1;
  min-width: 200px;
  background-color:var(--color-white) ;
    color: var(--color-black);
}

input[type="date"] {
  width: 10px;
  display: flex;
  flex-direction: row;
}

select {
  flex-grow: 1;
  min-width: 200px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

button.btn {
  background-color: var(--color-primario-light);
    border-radius: 8px; 
    border: 1px solid var(--color-white);
    color: var(--color-black);
}

button.btn:hover {
  background: var(--color-primario-dark);
  border-radius: 8px; 
}

button.btn-action {
 background-color: var(--color-primario-dark);
    border-radius: 8px; 
    border: 1px solid var(--color-terciario);
    color: var(--color-white);
}

button.btn-action:hover {
  background:  var(--color-terciario);;
  border-radius: 8px; 
}

button.btn-submit {
  background-color:  var(--color-terciario);
  border-radius: 8px; 
  border: 1px solid  var(--color-white);
  color: var(--color-black);
}

button.btn-submit:hover {
  background: var(--color-primario-dark);
  border-radius: 8px; 
}

button.btn-delete {
  background-color: var(--color-delete);
    border-radius: 8px; 
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

button.btn-delete:hover {
  background: var(--color-deleteAct);
  border-radius: 8px; 
  
}

button.btn-update {
  background-color: var(--color-update);
    border-radius: 8px; 
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

button.btn-update:hover {
  background: var(--color-updateAct);
  border-radius: 8px; 
  
}

button.btn-update-saving {
  background-color:var(--color-update-saving);
    border-radius: 8px; 
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

button.btn-update-saving:hover {
  background: var(--color-update-savingAct);
  border-radius: 8px; 
  
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-secundario-light);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#item-form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vw;
  background-color: var(--color-secundario-fuerte);
  padding: .5rem;
  flex-wrap: wrap;
  gap: 1rem;
}
#item-form > input,#item-form > select{
  flex-grow: 1;
    width: 500px;
    height: 30px;
    background-color: var(--color-secundario-light);
    color: var(--color-white);
    align-self: center;
    height: auto;
  }
  #item-form > textarea{
    flex-grow: 1;
    width: 100px;
    height: 50px;
    background-color: var(--color-primario-letras);
    color: var(--color-white);
    align-self: center;
  }


